00_SEED_Strategy.json
{
  "name": "00 SEED Strategy — Niche & Affiliate Research",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are the Strategy Agent for an AI Content Media & Digital Products company. This company earns revenue through 3 fully-automated channels: (1) Affiliate marketing via blog/social content, (2) Newsletter subscriptions via WordPress, (3) Digital product sales via Stripe with auto-delivery.\n\nYour job is to research and select the BEST content niche + affiliate programs + initial product lineup so the company can start generating revenue immediately.\n\nResearch and produce:\n\n1. NICHE SELECTION — Analyze top 5 content niches in AI/automation space (2026). Score each on: audience size, affiliate commission rates, content production ease (for AI), competition level, monetization speed. Pick the TOP 1 niche.\n\n2. AFFILIATE PROGRAMS — Find top 8 affiliate programs relevant to the chosen niche. For each: program name, commission rate, cookie duration, payment threshold, signup URL, and average EPC (earnings per click).\n\n3. DIGITAL PRODUCT IDEAS — Generate 5 digital product ideas (prompt packs, n8n templates, AI guides, checklists) that AI can create and sell for $9–$49 each. Estimate: production time (AI minutes), price point, monthly sales potential.\n\n4. NEWSLETTER STRATEGY — Define: publication frequency, content structure, free vs paid split, recommended pricing tier ($9/mo or $19/mo), estimated subscriber growth rate.\n\n5. CONTENT CALENDAR SEED — First 4 weeks of weekly themes + flagship blog post titles (SEO-optimized) for the chosen niche.\n\nOutput as structured JSON with keys: niche, affiliatePrograms, digitalProducts, newsletterStrategy, contentCalendarSeed, recommendedLaunchOrder.\n\nFORBIDDEN: No spam, phishing, black-hat SEO, deceptive claims, adult content, illegal activities."
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Strategy Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.3,
          "maxTokens": 4000,
          "baseURL": "https://api.deepseek.com/v1"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "DeepSeek Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        360,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_DEEPSEEK_CREDENTIAL_ID",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "strategy_seed_session"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        580,
        520
      ]
    },
    {
      "parameters": {
        "name": "web_research",
        "description": "Search the web for current information about AI business trends, market opportunities, revenue data, and competitor analysis. Use this to gather real data before making recommendations.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `search query`, 'string') }}"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Tool: Web Research",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        800,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_BRAVE_CREDENTIAL_ID",
          "name": "Brave Search API"
        }
      }
    },
    {
      "parameters": {
        "name": "score_and_rank",
        "description": "Calculate weighted composite scores for a list of business models. Input must be a JSON string with a 'models' array. Each model needs: name (string), revenuePotential (number, monthly USD), automationFeasibility (1-10), timeToRevenue (months), riskScore (1-10). Returns a JSON string of models sorted by composite score descending.",
        "language": "javaScript",
        "jsCode": "// toolCode must return a string — that string is what the AI reads as the tool result\nlet models = [];\ntry {\n  const raw = typeof $input === 'string' ? $input : JSON.stringify($input);\n  const parsed = JSON.parse(raw);\n  models = Array.isArray(parsed) ? parsed : (parsed.models || []);\n} catch (e) {\n  return 'Error: input must be a JSON string with a models array. Example: [{\"name\":\"...\",\"revenuePotential\":5000,\"automationFeasibility\":8,\"timeToRevenue\":2,\"riskScore\":3}]';\n}\n\nif (!models.length) {\n  return 'Error: models array is empty. Provide at least one business model to score.';\n}\n\nconst scored = models.map(m => ({\n  ...m,\n  compositeScore: parseFloat((\n    ((m.revenuePotential || 0) / 10000) * 0.35 +\n    ((m.automationFeasibility || 5) / 10) * 0.35 +\n    (1 - Math.min(m.timeToRevenue || 6, 12) / 12) * 0.20 +\n    (1 - (m.riskScore || 5) / 10) * 0.10\n  ).toFixed(4))\n}));\n\nscored.sort((a, b) => b.compositeScore - a.compositeScore);\n\n// Must return a string\nreturn JSON.stringify({ rankedModels: scored, top2: scored.slice(0, 2) }, null, 2);"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Tool: Score & Rank",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1020,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "strategy_result",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "assign-002",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-003",
              "name": "status",
              "value": "seed_complete",
              "type": "string"
            },
            {
              "id": "assign-004",
              "name": "next_action",
              "value": "Activate 01_CEO_Orchestrator workflow and selected business workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Strategy_Decisions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "status": "={{ $json.status }}",
            "next_action": "={{ $json.next_action }}",
            "strategy_result": "={{ $json.strategy_result }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Save Strategy Decision",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1100,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-seed-001",
              "name": "prompt",
              "value": "Research the AI automation and no-code tools content niche as of 2026. I want to build an AI-run content media company that earns passive income via: (1) affiliate marketing embedded in blog posts and social content, (2) paid newsletter subscriptions, (3) digital product sales (prompt packs, n8n templates, AI guides). Research: best sub-niches, top affiliate programs with highest commissions, what digital products people are buying, newsletter pricing benchmarks. Then recommend my content niche, affiliate stack, first 5 products to create, and newsletter positioning. Output structured JSON.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Set Research Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        380,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Research Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Research Prompt": {
      "main": [
        [
          {
            "node": "Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strategy Agent": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Save Strategy Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Strategy Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Web Research": {
      "ai_tool": [
        [
          {
            "node": "Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Score & Rank": {
      "ai_tool": [
        [
          {
            "node": "Strategy Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "DeepSeek Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Strategy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "ai-company-v1"
  },
  "tags": [
    {
      "name": "seed",
      "createdAt": "2026-02-24"
    },
    {
      "name": "strategy",
      "createdAt": "2026-02-24"
    }
  ],
  "notes": "STEP 1: Run this workflow ONCE before activating anything else. It researches and selects: content niche, affiliate programs, first digital products, newsletter strategy. Read output → save the niche + affiliate info to Google Sheets 'Strategy_Decisions' → then activate 01, 02, 03, 06 workflows in that order."
}