02_Content_Agent.json
{
  "name": "02 Content Agent — Daily Blog, Social & Affiliate Publishing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Schedule: Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mkt-ctx-001",
              "name": "today",
              "value": "={{ $now.toFormat('cccc, MMMM d yyyy') }}",
              "type": "string"
            },
            {
              "id": "mkt-ctx-002",
              "name": "content_prompt",
              "value": "=Today is {{ $now.toFormat('cccc, MMMM d yyyy') }}. Create today's content package for the AI content media company: research trending topics, write SEO blog post with affiliate links, create social posts. Focus on genuinely useful AI automation content that naturally embeds affiliate recommendations.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Set Daily Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content_prompt }}",
        "options": {
          "systemMessage": "You are the Content Agent for an AI Content Media & Digital Products company. Your daily job is to create content that builds an audience, earns affiliate commissions, promotes the newsletter, and generates passive income.\n\n1. TOPIC RESEARCH: Find 1 high-potential topic in AI automation / no-code tools today. Use Brave Search for trending queries and SEO keyword ideas.\n\n2. BLOG POST (main output): Write a full SEO-optimized blog post (800–1200 words) on the chosen topic.\n   - Target long-tail keyword in title, H1, first 100 words\n   - Include 2–3 affiliate link placeholders: [AFFILIATE: tool_name] where a recommendation is natural\n   - Each affiliate recommendation must genuinely help the reader\n   - End with a newsletter CTA: \"Subscribe to our weekly AI automation newsletter\"\n   - End with product CTA (if relevant): \"Get our [relevant product] — link in bio\"\n\n3. TWITTER/X THREAD (8–10 tweets): Break down the blog post main insight. Tweet 1 = hook. Last tweet = link to blog + newsletter CTA.\n\n4. LINKEDIN POST (250–400 words): Professional angle of the same topic. End with question to drive comments.\n\n5. AFFILIATE LINK MAP: List which affiliate programs to feature today and why they fit the content.\n\nTONE: Helpful, honest, expert. Never spammy. Affiliate links must be contextually relevant.\nFORBIDDEN: Fake claims, undisclosed ads, clickbait, black-hat SEO, misleading stats.\n\nOutput as JSON: { topic, targetKeyword, blogPost, twitterThread, linkedinPost, affiliateLinks, newsletterCTA }"
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Content Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        480,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "marketing_agent_memory"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Marketing Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        700,
        520
      ]
    },
    {
      "parameters": {
        "name": "get_trending_topics",
        "description": "Search for current trending topics in AI, automation, passive income, n8n, and workflow automation. Use to ensure content is timely and relevant.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `trending AI automation topic`, 'string') }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "freshness",
              "value": "pd"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Tool: Trending Topics",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        920,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_BRAVE_CREDENTIAL_ID",
          "name": "Brave Search API"
        }
      }
    },
    {
      "parameters": {
        "name": "seo_keyword_research",
        "description": "Get search volume and competition data for keywords to optimize blog content for SEO.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/suggest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('keyword', `seo keyword`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Tool: SEO Keywords",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1140,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_BRAVE_CREDENTIAL_ID",
          "name": "Brave Search API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-output",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Content Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toISO() }}",
            "content_package": "={{ $('Content Agent').item.json.output }}",
            "status": "published"
          }
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000009",
      "name": "Log Content to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1180,
        220
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Error_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toISO() }}",
            "workflow": "02_Content_Agent",
            "error": "Content generation failed or empty output"
          }
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000010",
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1180,
        400
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse the Marketing Agent JSON output into structured publishing payloads\nconst raw = $input.first().json.output || $input.first().json.content_package || '';\nlet content;\ntry {\n  content = JSON.parse(raw);\n} catch (e) {\n  // If not valid JSON, wrap as-is for best-effort publishing\n  content = { twitterThread: raw, linkedinPost: raw, newsletterSection: raw };\n}\n\nconst today = new Date().toISOString().split('T')[0];\nreturn [\n  {\n    json: {\n      twitter_text: Array.isArray(content.twitterThread)\n        ? content.twitterThread.join('\\n\\n')\n        : (content.twitterThread || '').slice(0, 280),\n      linkedin_text: content.linkedinPost || '',\n      ghost_title: `AI Automation Insight — ${today}`,\n      ghost_html: content.newsletterSection\n        ? `<p>${content.newsletterSection.replace(/\\n/g, '</p><p>')}</p>`\n        : '',\n      blog_outline: content.blogOutline || '',\n      publish_date: today\n    }\n  }\n];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000011",
      "name": "Parse Content for Publishing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        220
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.twitter_text }}"
            },
            {
              "name": "profile_ids[]",
              "value": "={{ $env.BUFFER_TWITTER_PROFILE_ID || 'REPLACE_WITH_BUFFER_PROFILE_ID' }}"
            },
            {
              "name": "scheduled_at",
              "value": "={{ $now.plus({hours: 2}).toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000012",
      "name": "Publish via Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        140
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_BUFFER_CREDENTIAL_ID",
          "name": "Buffer API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.GHOST_API_URL || 'https://your-ghost-blog.com') + '/ghost/api/admin/posts/' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ posts: [{ title: $json.ghost_title, html: $json.ghost_html, status: 'draft', tags: [{ name: 'ai-automation' }, { name: 'newsletter' }], published_at: $now.toISO() }] }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000013",
      "name": "Publish to Ghost Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_GHOST_CREDENTIAL_ID",
          "name": "Ghost Admin API"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Daily 8am": {
      "main": [
        [
          {
            "node": "Set Daily Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Daily Context": {
      "main": [
        [
          {
            "node": "Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Agent": {
      "main": [
        [
          {
            "node": "Content Generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generated?": {
      "main": [
        [
          {
            "node": "Log Content to Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Content to Sheets": {
      "main": [
        [
          {
            "node": "Parse Content for Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content for Publishing": {
      "main": [
        [
          {
            "node": "Publish via Buffer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to Ghost Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Content Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Memory": {
      "ai_memory": [
        [
          {
            "node": "Content Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Trending Topics": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: SEO Keywords": {
      "ai_tool": [
        [
          {
            "node": "Content Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "instanceId": "ai-company-v1"
  },
  "tags": [
    {
      "name": "marketing",
      "createdAt": "2026-02-24"
    },
    {
      "name": "content",
      "createdAt": "2026-02-24"
    }
  ],
  "notes": "Runs daily at 8:00am. Creates Twitter threads, LinkedIn posts, newsletter content, and blog outlines. Content is logged to Google Sheets AND published: Twitter/LinkedIn via Buffer API, newsletter as Ghost draft. Set BUFFER_TWITTER_PROFILE_ID, GHOST_API_URL env vars + add Buffer/Ghost credentials before activating."
}