02_Marketing_Agent.json
{
  "name": "02 Marketing Agent — Daily Content Creation & Publishing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Schedule: Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mkt-ctx-001",
              "name": "today",
              "value": "={{ $now.toFormat('cccc, MMMM d yyyy') }}",
              "type": "string"
            },
            {
              "id": "mkt-ctx-002",
              "name": "content_prompt",
              "value": "=Today is {{ $now.toFormat('cccc, MMMM d yyyy') }}. Create today's content package for the AI company's marketing channels. Research trending topics, create engaging content, and prepare posts ready for publishing.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Set Daily Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content_prompt }}",
        "options": {
          "systemMessage": "You are the Marketing Agent for an AI automation company. Your daily job is to:\n\n1. RESEARCH: Find 3 trending topics in AI, automation, productivity, or passive income\n2. CREATE CONTENT for each channel:\n   a) Twitter/X Thread (8–12 tweets) — educational, value-driven, includes CTA\n   b) LinkedIn Post (300–500 words) — professional insight, business-focused\n   c) Newsletter Section (400–600 words) — deep dive on 1 topic\n   d) Blog Post Outline (for SEO) — target long-tail keyword, H2 structure\n3. SEO: Include relevant keywords naturally\n4. CTA: Every piece should drive traffic to the company's main offer\n\nTONE: Professional, helpful, not spammy. Provide genuine value.\nFORBIDDEN: Clickbait, misinformation, spam tactics, fake stats.\n\nOutput as structured JSON with keys: trendingTopics, twitterThread, linkedinPost, newsletterSection, blogOutline, publishingSchedule"
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Marketing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [480, 520],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "marketing_agent_memory"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Marketing Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [700, 520]
    },
    {
      "parameters": {
        "name": "get_trending_topics",
        "description": "Search for current trending topics in AI, automation, passive income, n8n, and workflow automation. Use to ensure content is timely and relevant.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `trending AI automation topic`, 'string') }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "freshness",
              "value": "pd"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Tool: Trending Topics",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [920, 520]
    },
    {
      "parameters": {
        "name": "seo_keyword_research",
        "description": "Get search volume and competition data for keywords to optimize blog content for SEO.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/suggest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('keyword', `seo keyword`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Tool: SEO Keywords",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1140, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-output",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Content Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toISO() }}",
            "content_package": "={{ $('Marketing Agent').item.json.output }}",
            "status": "published"
          }
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000009",
      "name": "Log Content to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1180, 220],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Error_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toISO() }}",
            "workflow": "02_Marketing_Agent",
            "error": "Content generation failed or empty output"
          }
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000010",
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1180, 400],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Daily 8am": {
      "main": [
        [{ "node": "Set Daily Context", "type": "main", "index": 0 }]
      ]
    },
    "Set Daily Context": {
      "main": [
        [{ "node": "Marketing Agent", "type": "main", "index": 0 }]
      ]
    },
    "Marketing Agent": {
      "main": [
        [{ "node": "Content Generated?", "type": "main", "index": 0 }]
      ]
    },
    "Content Generated?": {
      "main": [
        [{ "node": "Log Content to Sheets", "type": "main", "index": 0 }],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [{ "node": "Marketing Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Marketing Memory": {
      "ai_memory": [
        [{ "node": "Marketing Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Tool: Trending Topics": {
      "ai_tool": [
        [{ "node": "Marketing Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool: SEO Keywords": {
      "ai_tool": [
        [{ "node": "Marketing Agent", "type": "ai_tool", "index": 1 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": { "instanceId": "ai-company-v1" },
  "tags": [
    { "name": "marketing", "createdAt": "2026-02-24" },
    { "name": "content", "createdAt": "2026-02-24" }
  ],
  "notes": "Runs daily at 8:00am. Creates Twitter threads, LinkedIn posts, newsletter content, and blog outlines. Output saved to Google Sheets Content_Log tab."
}
