04_Finance_Agent.json
{
  "name": "04 Finance Agent — Weekly Revenue Tracking & Reporting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 18,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000001",
      "name": "Schedule: Friday 6pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fin-ctx-001",
              "name": "report_prompt",
              "value": "=Generate the weekly financial report for week ending {{ $now.toFormat('MMMM d, yyyy') }}. Analyze all revenue streams, expenses, profit margins, and project next week's targets. Identify cost optimization opportunities.",
              "type": "string"
            },
            {
              "id": "fin-ctx-002",
              "name": "week_end",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000002",
      "name": "Set Finance Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.report_prompt }}",
        "options": {
          "systemMessage": "You are the Finance Agent for an AI Content Media & Digital Products company. The company earns revenue from 3 streams: (1) Affiliate commissions, (2) Newsletter subscriptions via WordPress/Stripe, (3) Digital product one-time sales via Stripe.\n\nWeekly responsibilities:\n\n1. REVENUE TRACKING:\n   - Pull Stripe data: product sales + subscription payments from last 7 days\n   - Categorize by stream: digital_product / newsletter_subscription / affiliate\n   - Affiliate revenue: read from Affiliate_Income sheet (manually entered or via affiliate API)\n   - Calculate total weekly revenue + MRR from subscriptions\n\n2. EXPENSE TRACKING:\n   - DeepSeek API costs (usage from Organization API)\n   - Infrastructure: n8n hosting, Ghost hosting\n   - Stripe fees: 2.9% + $0.30 per transaction\n   - Tool subscriptions (Buffer, domain, etc.)\n   - Calculate net profit = revenue − all expenses\n\n3. PROFIT ANALYSIS:\n   - Best-performing revenue stream this week\n   - Revenue per content piece (from Content_Log)\n   - Affiliate conversion value\n   - Product sales trend week-over-week\n\n4. FORECASTING:\n   - Project next 4 weeks based on subscriber growth, avg products sold/week, affiliate click trend\n   - Time-to-$1k/month estimate\n\n5. ALERTS:\n   - Flag if OpenAI cost > $15/week\n   - Flag if zero product sales for > 2 consecutive weeks\n   - Flag if newsletter churn > 5% this week\n   - Flag if affiliate clicks = 0 for > 1 week\n\nOutput JSON: { weeklyRevenue, revenueByStream, weeklyExpenses, netProfit, mrrSubscriptions, forecast, alerts, recommendations }"
        }
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000003",
      "name": "Finance Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.1,
          "maxTokens": 3000,
          "baseURL": "https://api.deepseek.com/v1"
        }
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000004",
      "name": "DeepSeek Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        480,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_DEEPSEEK_CREDENTIAL_ID",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "finance_agent_memory"
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000005",
      "name": "Finance Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        700,
        520
      ]
    },
    {
      "parameters": {
        "name": "get_stripe_transactions",
        "description": "Fetch all Stripe payment transactions from the past 7 days including charges, refunds, and payouts.",
        "method": "GET",
        "url": "https://api.stripe.com/v1/charges",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "created[gte]",
              "value": "={{ Math.floor(($now.minus({days: 7}).toMillis()) / 1000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000006",
      "name": "Tool: Stripe Revenue",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        920,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_STRIPE_CREDENTIAL_ID",
          "name": "Stripe Secret Key"
        }
      }
    },
    {
      "parameters": {
        "name": "get_deepseek_usage",
        "description": "Fetch DeepSeek API account balance to track remaining LLM credit and estimate weekly API costs.",
        "method": "GET",
        "url": "https://api.deepseek.com/user/balance",
        "authentication": "genericCredentialType",
        "options": {},
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000007",
      "name": "Tool: API Cost Tracking",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1140,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_DEEPSEEK_CREDENTIAL_ID",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "name": "read_previous_reports",
        "description": "Read previous weekly financial reports from Google Sheets to enable trend comparison and forecasting.",
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/REPLACE_WITH_SPREADSHEET_ID/values/Financial_Reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000008",
      "name": "Tool: Historical Reports",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1360,
        520
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Financial_Reports",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_end": "={{ $('Set Finance Context').item.json.week_end }}",
            "report": "={{ $json.output }}",
            "generated_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000009",
      "name": "Save Financial Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        960,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "KPI_Dashboard",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_updated": "={{ $now.toISO() }}",
            "latest_report": "={{ $('Finance Agent').item.json.output }}"
          }
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000010",
      "name": "Update KPI Dashboard",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1200,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Friday 6pm": {
      "main": [
        [
          {
            "node": "Set Finance Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Finance Context": {
      "main": [
        [
          {
            "node": "Finance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Agent": {
      "main": [
        [
          {
            "node": "Save Financial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Financial Report": {
      "main": [
        [
          {
            "node": "Update KPI Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Memory": {
      "ai_memory": [
        [
          {
            "node": "Finance Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Stripe Revenue": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: API Cost Tracking": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "Tool: Historical Reports": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "DeepSeek Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Finance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "instanceId": "ai-company-v1"
  },
  "tags": [
    {
      "name": "finance",
      "createdAt": "2026-02-24"
    },
    {
      "name": "reporting",
      "createdAt": "2026-02-24"
    }
  ],
  "notes": "Runs every Friday at 6:00pm. Pulls Stripe revenue + DeepSeek costs, generates profit report, saves to Google Sheets. Low temperature (0.1) for accurate financial analysis."
}