04_Finance_Agent.json
{
  "name": "04 Finance Agent — Weekly Revenue Tracking & Reporting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": [5],
              "triggerAtHour": 18,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000001",
      "name": "Schedule: Friday 6pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fin-ctx-001",
              "name": "report_prompt",
              "value": "=Generate the weekly financial report for week ending {{ $now.toFormat('MMMM d, yyyy') }}. Analyze all revenue streams, expenses, profit margins, and project next week's targets. Identify cost optimization opportunities.",
              "type": "string"
            },
            {
              "id": "fin-ctx-002",
              "name": "week_end",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000002",
      "name": "Set Finance Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.report_prompt }}",
        "options": {
          "systemMessage": "You are the Finance Agent for an AI automation company. Your weekly responsibilities:\n\n1. REVENUE TRACKING:\n   - Pull Stripe payment data (all transactions this week)\n   - Categorize revenue by stream: Freelance, Content, Affiliate, SaaS, Consulting\n   - Calculate MRR (Monthly Recurring Revenue) trend\n   - Compare to last week's targets\n\n2. EXPENSE TRACKING:\n   - LLM API costs (OpenAI/Anthropic usage)\n   - Infrastructure (server, n8n hosting)\n   - Marketing spend (ads if any)\n   - Tool subscriptions\n   - Calculate burn rate\n\n3. PROFIT ANALYSIS:\n   - Gross margin per revenue stream\n   - Net profit for the week\n   - ROI per marketing channel\n\n4. FORECASTING:\n   - Project next 4 weeks revenue based on growth trend\n   - Flag if any stream is declining\n   - Recommend budget reallocation\n\n5. ALERTS:\n   - Flag if expenses > 30% of revenue\n   - Flag if any LLM cost spike > $20/day\n   - Flag if revenue < previous week by > 20%\n\nOutput: JSON with keys: weeklyRevenue, weeklyExpenses, netProfit, revenueByStream, expenseBreakdown, forecast, alerts, recommendations"
        }
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000003",
      "name": "Finance Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.1,
          "maxTokens": 3000
        }
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000004",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [480, 520],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "finance_agent_memory"
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000005",
      "name": "Finance Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [700, 520]
    },
    {
      "parameters": {
        "name": "get_stripe_transactions",
        "description": "Fetch all Stripe payment transactions from the past 7 days including charges, refunds, and payouts.",
        "method": "GET",
        "url": "https://api.stripe.com/v1/charges",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "created[gte]",
              "value": "={{ Math.floor(($now.minus({days: 7}).toMillis()) / 1000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000006",
      "name": "Tool: Stripe Revenue",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [920, 520]
    },
    {
      "parameters": {
        "name": "get_openai_usage",
        "description": "Fetch OpenAI API token usage and cost data for the past 7 days to track LLM expenses. Uses the Organization Usage API.",
        "method": "GET",
        "url": "https://api.openai.com/v1/organization/usage/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "start_time",
              "value": "={{ Math.floor($now.minus({days: 7}).toMillis() / 1000) }}"
            },
            {
              "name": "end_time",
              "value": "={{ Math.floor($now.toMillis() / 1000) }}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000007",
      "name": "Tool: API Cost Tracking",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1140, 520]
    },
    {
      "parameters": {
        "name": "read_previous_reports",
        "description": "Read previous weekly financial reports from Google Sheets to enable trend comparison and forecasting.",
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/REPLACE_WITH_SPREADSHEET_ID/values/Financial_Reports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000008",
      "name": "Tool: Historical Reports",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1360, 520]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Financial_Reports",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_end": "={{ $('Set Finance Context').item.json.week_end }}",
            "report": "={{ $json.output }}",
            "generated_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000009",
      "name": "Save Financial Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [960, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "KPI_Dashboard",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_updated": "={{ $now.toISO() }}",
            "latest_report": "={{ $('Finance Agent').item.json.output }}"
          }
        },
        "options": {}
      },
      "id": "e5f6g7h8-0005-0005-0005-000000000010",
      "name": "Update KPI Dashboard",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1200, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Friday 6pm": {
      "main": [
        [{ "node": "Set Finance Context", "type": "main", "index": 0 }]
      ]
    },
    "Set Finance Context": {
      "main": [
        [{ "node": "Finance Agent", "type": "main", "index": 0 }]
      ]
    },
    "Finance Agent": {
      "main": [
        [{ "node": "Save Financial Report", "type": "main", "index": 0 }]
      ]
    },
    "Save Financial Report": {
      "main": [
        [{ "node": "Update KPI Dashboard", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [{ "node": "Finance Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Finance Memory": {
      "ai_memory": [
        [{ "node": "Finance Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Tool: Stripe Revenue": {
      "ai_tool": [
        [{ "node": "Finance Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool: API Cost Tracking": {
      "ai_tool": [
        [{ "node": "Finance Agent", "type": "ai_tool", "index": 1 }]
      ]
    },
    "Tool: Historical Reports": {
      "ai_tool": [
        [{ "node": "Finance Agent", "type": "ai_tool", "index": 2 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": { "instanceId": "ai-company-v1" },
  "tags": [
    { "name": "finance", "createdAt": "2026-02-24" },
    { "name": "reporting", "createdAt": "2026-02-24" }
  ],
  "notes": "Runs every Friday at 6:00pm. Pulls Stripe revenue + OpenAI costs, generates profit report, saves to Google Sheets. Low temperature (0.1) for accurate financial analysis."
}
