05_SelfImprovement_Agent.json
{
  "name": "05 Self-Improvement Agent — Weekly Audit & System Evolution",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": [0],
              "triggerAtHour": 0,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000001",
      "name": "Schedule: Sunday Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "si-ctx-001",
              "name": "audit_prompt",
              "value": "=Perform a comprehensive weekly self-audit of the AI company for week ending {{ $now.toFormat('MMMM d, yyyy') }}. Analyze all workflow performance, identify failures, bottlenecks, and opportunities to improve. Propose specific, actionable improvements.",
              "type": "string"
            },
            {
              "id": "si-ctx-002",
              "name": "audit_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000002",
      "name": "Set Audit Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.audit_prompt }}",
        "options": {
          "systemMessage": "You are the Self-Improvement Agent — the most critical agent in the company. Your job is to make the entire system better every week.\n\nWeekly Audit Tasks:\n\n1. WORKFLOW HEALTH CHECK:\n   - Review execution logs for each workflow (Marketing, Sales, Finance, CEO)\n   - Calculate success rate, error rate, execution time\n   - Find recurring failures or bottlenecks\n   - Identify workflows not running as scheduled\n\n2. PERFORMANCE ANALYSIS:\n   - Marketing: content quality score (engagement if available), publish consistency\n   - Sales: lead quality, response rate trends, conversion hints\n   - Finance: revenue trend, accuracy of projections\n   - CEO: plan completion rate, decision quality\n\n3. SYSTEM GAPS IDENTIFICATION:\n   - What capabilities does the company lack?\n   - What processes are done manually that should be automated?\n   - What data is not being collected but should be?\n\n4. IMPROVEMENT PROPOSALS (ranked by impact vs effort):\n   For each proposal include:\n   - Problem: what is broken or suboptimal\n   - Solution: specific change to make\n   - Impact: expected improvement (revenue, efficiency, reliability)\n   - Effort: implementation complexity (low/medium/high)\n   - Risk: what could go wrong\n   - Priority: 1 (do this week) / 2 (do next month) / 3 (future)\n\n5. AGENT PROMPT OPTIMIZATION:\n   - Based on output quality this week, suggest improvements to any agent's system prompt\n   - Suggest new tools that should be added to specific agents\n\n6. BUSINESS MODEL REVIEW:\n   - Are current revenue streams growing? Flat? Declining?\n   - Should a new revenue stream be activated?\n   - Should an underperforming stream be deprioritized?\n\nOutput: JSON with keys: workflowHealth, performanceSummary, systemGaps, improvementProposals, promptOptimizations, businessModelReview, priorityActions"
        }
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000003",
      "name": "Self-Improvement Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2,
          "maxTokens": 5000
        }
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000004",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [480, 520],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "self_improvement_memory"
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000005",
      "name": "Improvement Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [700, 520]
    },
    {
      "parameters": {
        "name": "get_n8n_execution_logs",
        "description": "Fetch n8n workflow execution history and error logs from the n8n API to analyze system performance.",
        "method": "GET",
        "url": "={{ $env.N8N_HOST || 'http://localhost:5678' }}/api/v1/executions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "status",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `error or success`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000006",
      "name": "Tool: n8n Execution Logs",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [920, 520]
    },
    {
      "parameters": {
        "name": "get_all_kpi_data",
        "description": "Read all KPI data from Google Sheets including revenue, content published, leads contacted, error rates.",
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/REPLACE_WITH_SPREADSHEET_ID/values/KPI_Dashboard",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000007",
      "name": "Tool: All KPI Data",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1140, 520]
    },
    {
      "parameters": {
        "name": "research_new_ai_tools",
        "description": "Search for new AI tools, n8n updates, LLM improvements, or automation techniques that could improve the company's workflows.",
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `new AI automation tools n8n update 2026`, 'string') }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "freshness",
              "value": "pw"
            }
          ]
        },
        "options": {}
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000008",
      "name": "Tool: Research New Tools",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1360, 520]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Improvement_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "audit_date": "={{ $('Set Audit Context').item.json.audit_date }}",
            "full_report": "={{ $json.output }}",
            "status": "pending_review"
          }
        },
        "options": {}
      },
      "id": "f6g7h8i9-0006-0006-0006-000000000009",
      "name": "Save Improvement Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [960, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Sunday Midnight": {
      "main": [
        [{ "node": "Set Audit Context", "type": "main", "index": 0 }]
      ]
    },
    "Set Audit Context": {
      "main": [
        [{ "node": "Self-Improvement Agent", "type": "main", "index": 0 }]
      ]
    },
    "Self-Improvement Agent": {
      "main": [
        [{ "node": "Save Improvement Report", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [{ "node": "Self-Improvement Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Improvement Memory": {
      "ai_memory": [
        [{ "node": "Self-Improvement Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Tool: n8n Execution Logs": {
      "ai_tool": [
        [{ "node": "Self-Improvement Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool: All KPI Data": {
      "ai_tool": [
        [{ "node": "Self-Improvement Agent", "type": "ai_tool", "index": 1 }]
      ]
    },
    "Tool: Research New Tools": {
      "ai_tool": [
        [{ "node": "Self-Improvement Agent", "type": "ai_tool", "index": 2 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": { "instanceId": "ai-company-v1" },
  "tags": [
    { "name": "self-improvement", "createdAt": "2026-02-24" },
    { "name": "audit", "createdAt": "2026-02-24" }
  ],
  "notes": "Runs every Sunday at midnight. Reads n8n execution logs + all KPI data, generates improvement proposals. Owner reviews Improvement_Log sheet weekly and manually applies high-priority changes."
}
